###############################
#             Rust            #
###############################

# target dir
**/target

###############################
#           Docker            #
###############################

Dockerfile
